.form-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    background: #3ad886;
    height: 400px;
    border-radius: 5px;
    margin: 15px;
}

.form-img{
    height: 140px;
    width: 200px;
}

.form-top{
    display: flex;
    align-items: center;
    height: 160px;
    margin: 15px;
}

.form-bottom{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15px;
}

input{
    width: 90%;
}

.form-buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

button{
    margin: 10px;
}
