.product-box{
    display: flex;
    justify-content: flex-start;
    background: #d34635;
    margin: 20px;
    height: 180px;
    width: 500px;
    border-radius: 5px;
}

.product-img{
    height: 150px;
    width: 200px;
    margin: 15px;
}

.product-info{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}